<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans        http://www.springframework.org/schema/beans/spring-beans.xsd        http://code.alibabatech.com/schema/dubbo        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--rpcHelper bean-->
    <bean class="com.danger.study.dubbo.tools.RpcHelper" id="rpcHelper" />

    <!--application-shared-->
    <dubbo:application name="dataServer" />
    <dubbo:registry address="zookeeper://192.168.83.40:2181" timeout="10000" />
    <!--监控中心配置，用于配置连接监控中心相关信息，可选-->
    <!--<dubbo:monitor protocol="registry"/>-->

    <!--provider-side-->
    <dubbo:protocol name="dubbo" port="20801" />
    <dubbo:provider timeout="6000" retries="0" delay="-1"/>

    <!--<dubbo:service interface=""></dubbo:service>-->
    <dubbo:service interface="com.danger.study.protocol.data.center.IBaseCenter" ref="baseCenter" />
    <bean class="com.danger.study.dataserver.center.BaseCenter" id="baseCenter" />


    <!--consumer-side-->
    <dubbo:consumer check="false"/>

    <!--<dubbo:reference interface=""></dubbo:reference>-->

</beans>